In [1]:
!pip install yaml

ERROR: Could not find a version that satisfies the requirement yaml (from versions: none)
ERROR: No matching distribution found for yaml

In [2]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\gayatri_dasari\anaconda3\lib\site-packages (4.65.0)
Requirement already satisfied: colorama in c:\users\gayatri_dasari\anaconda3\lib\site-packages (from tqdm) (0.4.6)

In [3]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [4]:
filenames = []
for file in os.listdir('data\\t20s'):
    filenames.append(os.path.join('data\\t20s',file))

In [5]:
filenames

['data\\t20s\\1001349.yaml',
 'data\\t20s\\1001351.yaml',
 'data\\t20s\\1001353.yaml',
 'data\\t20s\\1004729.yaml',
 'data\\t20s\\1007655.yaml',
 'data\\t20s\\1007657.yaml',
 'data\\t20s\\1007659.yaml',
 'data\\t20s\\1019979.yaml',
 'data\\t20s\\1019981.yaml',
 'data\\t20s\\1019983.yaml',
 'data\\t20s\\1020029.yaml',
 'data\\t20s\\1031431.yaml',
 'data\\t20s\\1031433.yaml',
 'data\\t20s\\1031435.yaml',
 'data\\t20s\\1031665.yaml',
 'data\\t20s\\1034825.yaml',
 'data\\t20s\\1034827.yaml',
 'data\\t20s\\1034829.yaml',
 'data\\t20s\\1040485.yaml',
 'data\\t20s\\1040487.yaml',
 'data\\t20s\\1040489.yaml',
 'data\\t20s\\1041615.yaml',
 'data\\t20s\\1041617.yaml',
 'data\\t20s\\1043989.yaml',
 'data\\t20s\\1043991.yaml',
 'data\\t20s\\1043993.yaml',
 'data\\t20s\\1044211.yaml',
 'data\\t20s\\1050217.yaml',
 'data\\t20s\\1050219.yaml',
 'data\\t20s\\1050221.yaml',
 'data\\t20s\\1050615.yaml',
 'data\\t20s\\1065348.yaml',
 'data\\t20s\\1072206.yaml',
 'data\\t20s\\1072207.yaml',
 'data\\t20s\\1072208.yaml',
 'data\\t20s\\1072316.yaml',
 'data\\t20s\\1072317.yaml',
 'data\\t20s\\1072318.yaml',
 'data\\t20s\\1072319.yaml',
 'data\\t20s\\1072320.yaml',
 'data\\t20s\\1072321.yaml',
 'data\\t20s\\1072322.yaml',
 'data\\t20s\\1074957.yaml',
 'data\\t20s\\1074958.yaml',
 'data\\t20s\\1074959.yaml',
 'data\\t20s\\1074961.yaml',
 'data\\t20s\\1074962.yaml',
 'data\\t20s\\1074964.yaml',
 'data\\t20s\\1074965.yaml',
 'data\\t20s\\1074966.yaml',
 'data\\t20s\\1074968.yaml',
 'data\\t20s\\1074969.yaml',
 'data\\t20s\\1074970.yaml',
 'data\\t20s\\1074971.yaml',
 'data\\t20s\\1075507.yaml',
 'data\\t20s\\1075508.yaml',
 'data\\t20s\\1077947.yaml',
 'data\\t20s\\1077948.yaml',
 'data\\t20s\\1083449.yaml',
 'data\\t20s\\1083450.yaml',
 'data\\t20s\\1085495.yaml',
 'data\\t20s\\1085496.yaml',
 'data\\t20s\\1086067.yaml',
 'data\\t20s\\1086068.yaml',
 'data\\t20s\\1086069.yaml',
 'data\\t20s\\1089202.yaml',
 'data\\t20s\\1089203.yaml',
 'data\\t20s\\1089243.yaml',
 'data\\t20s\\1089776.yaml',
 'data\\t20s\\1089777.yaml',
 'data\\t20s\\1089778.yaml',
 'data\\t20s\\1098211.yaml',
 'data\\t20s\\1109610.yaml',
 'data\\t20s\\1115798.yaml',
 'data\\t20s\\1115799.yaml',
 'data\\t20s\\1115800.yaml',
 'data\\t20s\\1115807.yaml',
 'data\\t20s\\1115808.yaml',
 'data\\t20s\\1115809.yaml',
 'data\\t20s\\1117821.yaml',
 'data\\t20s\\1117822.yaml',
 'data\\t20s\\1117824.yaml',
 'data\\t20s\\1119501.yaml',
 'data\\t20s\\1119502.yaml',
 'data\\t20s\\1119542.yaml',
 'data\\t20s\\1119543.yaml',
 'data\\t20s\\1119544.yaml',
 'data\\t20s\\1119545.yaml',
 'data\\t20s\\1120093.yaml',
 'data\\t20s\\1120094.yaml',
 'data\\t20s\\1120095.yaml',
 'data\\t20s\\1120291.yaml',
 'data\\t20s\\1120292.yaml',
 'data\\t20s\\1120293.yaml',
 'data\\t20s\\1122285.yaml',
 'data\\t20s\\1122286.yaml',
 'data\\t20s\\1122287.yaml',
 'data\\t20s\\1122729.yaml',
 'data\\t20s\\1122730.yaml',
 'data\\t20s\\1122731.yaml',
 'data\\t20s\\1122902.yaml',
 'data\\t20s\\1122908.yaml',
 'data\\t20s\\1122909.yaml',
 'data\\t20s\\1122910.yaml',
 'data\\t20s\\1123206.yaml',
 'data\\t20s\\1123207.yaml',
 'data\\t20s\\1123208.yaml',
 'data\\t20s\\1123209.yaml',
 'data\\t20s\\1123210.yaml',
 'data\\t20s\\1126720.yaml',
 'data\\t20s\\1126721.yaml',
 'data\\t20s\\1126722.yaml',
 'data\\t20s\\1126723.yaml',
 'data\\t20s\\1126724.yaml',
 'data\\t20s\\1126725.yaml',
 'data\\t20s\\1126726.yaml',
 'data\\t20s\\1127300.yaml',
 'data\\t20s\\1127301.yaml',
 'data\\t20s\\1130746.yaml',
 'data\\t20s\\1130747.yaml',
 'data\\t20s\\1131235.yaml',
 'data\\t20s\\1131236.yaml',
 'data\\t20s\\1131237.yaml',
 'data\\t20s\\1131238.yaml',
 'data\\t20s\\1131239.yaml',
 'data\\t20s\\1131240.yaml',
 'data\\t20s\\1131241.yaml',
 'data\\t20s\\1133817.yaml',
 'data\\t20s\\1133818.yaml',
 'data\\t20s\\1133819.yaml',
 'data\\t20s\\1133820.yaml',
 'data\\t20s\\1133821.yaml',
 'data\\t20s\\1133822.yaml',
 'data\\t20s\\1133823.yaml',
 'data\\t20s\\1134031.yaml',
 'data\\t20s\\1134032.yaml',
 'data\\t20s\\1138194.yaml',
 'data\\t20s\\1138195.yaml',
 'data\\t20s\\1138196.yaml',
 'data\\t20s\\1138198.yaml',
 'data\\t20s\\1138202.yaml',
 'data\\t20s\\1138203.yaml',
 'data\\t20s\\1140069.yaml',
 'data\\t20s\\1140070.yaml',
 'data\\t20s\\1140071.yaml',
 'data\\t20s\\1140384.yaml',
 'data\\t20s\\1140992.yaml',
 'data\\t20s\\1140993.yaml',
 'data\\t20s\\1141232.yaml',
 'data\\t20s\\1141835.yaml',
 'data\\t20s\\1142501.yaml',
 'data\\t20s\\1142502.yaml',
 'data\\t20s\\1142503.yaml',
 'data\\t20s\\1142504.yaml',
 'data\\t20s\\1142505.yaml',
 'data\\t20s\\1142506.yaml',
 'data\\t20s\\1142589.yaml',
 'data\\t20s\\1142913.yaml',
 'data\\t20s\\1142914.yaml',
 'data\\t20s\\1142915.yaml',
 'data\\t20s\\1142916.yaml',
 'data\\t20s\\1142917.yaml',
 'data\\t20s\\1142918.yaml',
 'data\\t20s\\1142919.yaml',
 'data\\t20s\\1144149.yaml',
 'data\\t20s\\1144150.yaml',
 'data\\t20s\\1144161.yaml',
 'data\\t20s\\1144162.yaml',
 'data\\t20s\\1144163.yaml',
 'data\\t20s\\1144172.yaml',
 'data\\t20s\\1144173.yaml',
 'data\\t20s\\1144174.yaml',
 'data\\t20s\\1144441.yaml',
 'data\\t20s\\1144442.yaml',
 'data\\t20s\\1144978.yaml',
 'data\\t20s\\1144979.yaml',
 'data\\t20s\\1144980.yaml',
 'data\\t20s\\1144989.yaml',
 'data\\t20s\\1144990.yaml',
 'data\\t20s\\1144991.yaml',
 'data\\t20s\\1144992.yaml',
 'data\\t20s\\1145890.yaml',
 'data\\t20s\\1145894.yaml',
 'data\\t20s\\1145896.yaml',
 'data\\t20s\\1145983.yaml',
 'data\\t20s\\1145984.yaml',
 'data\\t20s\\1146723.yaml',
 'data\\t20s\\1146724.yaml',
 'data\\t20s\\1146725.yaml',
 'data\\t20s\\1147717.yaml',
 'data\\t20s\\1147718.yaml',
 'data\\t20s\\1147719.yaml',
 'data\\t20s\\1147720.yaml',
 'data\\t20s\\1147722.yaml',
 'data\\t20s\\1147723.yaml',
 'data\\t20s\\1147724.yaml',
 'data\\t20s\\1147725.yaml',
 'data\\t20s\\1147726.yaml',
 'data\\t20s\\1147727.yaml',
 'data\\t20s\\1147728.yaml',
 'data\\t20s\\1147729.yaml',
 'data\\t20s\\1147730.yaml',
 'data\\t20s\\1147731.yaml',
 'data\\t20s\\1147732.yaml',
 'data\\t20s\\1147733.yaml',
 'data\\t20s\\1147734.yaml',
 'data\\t20s\\1147735.yaml',
 'data\\t20s\\1147736.yaml',
 'data\\t20s\\1148048.yaml',
 'data\\t20s\\1148050.yaml',
 'data\\t20s\\1148051.yaml',
 'data\\t20s\\1148052.yaml',
 'data\\t20s\\1148053.yaml',
 'data\\t20s\\1148054.yaml',
 'data\\t20s\\1148055.yaml',
 'data\\t20s\\1148056.yaml',
 'data\\t20s\\1148057.yaml',
 'data\\t20s\\1148058.yaml',
 'data\\t20s\\1148059.yaml',
 'data\\t20s\\1148060.yaml',
 'data\\t20s\\1148061.yaml',
 'data\\t20s\\1148062.yaml',
 'data\\t20s\\1148063.yaml',
 'data\\t20s\\1150143.yaml',
 'data\\t20s\\1150144.yaml',
 'data\\t20s\\1150533.yaml',
 'data\\t20s\\1150534.yaml',
 'data\\t20s\\1150535.yaml',
 'data\\t20s\\1150537.yaml',
 'data\\t20s\\1150538.yaml',
 'data\\t20s\\1150539.yaml',
 'data\\t20s\\1150540.yaml',
 'data\\t20s\\1150541.yaml',
 'data\\t20s\\1150542.yaml',
 'data\\t20s\\1150543.yaml',
 'data\\t20s\\1150544.yaml',
 'data\\t20s\\1150545.yaml',
 'data\\t20s\\1150546.yaml',
 'data\\t20s\\1150547.yaml',
 'data\\t20s\\1150548.yaml',
 'data\\t20s\\1150549.yaml',
 'data\\t20s\\1150550.yaml',
 'data\\t20s\\1150551.yaml',
 'data\\t20s\\1150552.yaml',
 'data\\t20s\\1150553.yaml',
 'data\\t20s\\1150554.yaml',
 'data\\t20s\\1150555.yaml',
 'data\\t20s\\1152840.yaml',
 'data\\t20s\\1153317.yaml',
 'data\\t20s\\1153318.yaml',
 'data\\t20s\\1153319.yaml',
 'data\\t20s\\1153696.yaml',
 'data\\t20s\\1153697.yaml',
 'data\\t20s\\1153698.yaml',
 'data\\t20s\\1153843.yaml',
 'data\\t20s\\1153858.yaml',
 'data\\t20s\\1153859.yaml',
 'data\\t20s\\1153860.yaml',
 'data\\t20s\\1156216.yaml',
 'data\\t20s\\1156218.yaml',
 'data\\t20s\\1156219.yaml',
 'data\\t20s\\1157372.yaml',
 'data\\t20s\\1157373.yaml',
 'data\\t20s\\1157374.yaml',
 'data\\t20s\\1157375.yaml',
 'data\\t20s\\1157376.yaml',
 'data\\t20s\\1157377.yaml',
 'data\\t20s\\1157710.yaml',
 'data\\t20s\\1157711.yaml',
 'data\\t20s\\1157712.yaml',
 'data\\t20s\\1157713.yaml',
 'data\\t20s\\1157759.yaml',
 'data\\t20s\\1157760.yaml',
 'data\\t20s\\1157761.yaml',
 'data\\t20s\\1158071.yaml',
 'data\\t20s\\1158072.yaml',
 'data\\t20s\\1158073.yaml',
 'data\\t20s\\1158344.yaml',
 'data\\t20s\\1158345.yaml',
 'data\\t20s\\1158348.yaml',
 'data\\t20s\\1158349.yaml',
 'data\\t20s\\1158350.yaml',
 'data\\t20s\\1158352.yaml',
 'data\\t20s\\1158353.yaml',
 'data\\t20s\\1158355.yaml',
 'data\\t20s\\1158356.yaml',
 'data\\t20s\\1158358.yaml',
 'data\\t20s\\1158359.yaml',
 'data\\t20s\\1158361.yaml',
 'data\\t20s\\1161231.yaml',
 'data\\t20s\\1161232.yaml',
 'data\\t20s\\1161233.yaml',
 'data\\t20s\\1162727.yaml',
 'data\\t20s\\1168020.yaml',
 'data\\t20s\\1168026.yaml',
 'data\\t20s\\1168027.yaml',
 'data\\t20s\\1168028.yaml',
 'data\\t20s\\1168112.yaml',
 'data\\t20s\\1168113.yaml',
 'data\\t20s\\1168114.yaml',
 'data\\t20s\\1168160.yaml',
 'data\\t20s\\1168162.yaml',
 'data\\t20s\\1168247.yaml',
 'data\\t20s\\1168248.yaml',
 'data\\t20s\\1168521.yaml',
 'data\\t20s\\1168522.yaml',
 'data\\t20s\\1170457.yaml',
 'data\\t20s\\1170458.yaml',
 'data\\t20s\\1170459.yaml',
 'data\\t20s\\1172163.yaml',
 'data\\t20s\\1172164.yaml',
 'data\\t20s\\1172165.yaml',
 'data\\t20s\\1172469.yaml',
 'data\\t20s\\1172470.yaml',
 'data\\t20s\\1172471.yaml',
 'data\\t20s\\1172505.yaml',
 'data\\t20s\\1172506.yaml',
 'data\\t20s\\1172507.yaml',
 'data\\t20s\\1172508.yaml',
 'data\\t20s\\1172509.yaml',
 'data\\t20s\\1172510.yaml',
 'data\\t20s\\1172910.yaml',
 'data\\t20s\\1172911.yaml',
 'data\\t20s\\1172912.yaml',
 'data\\t20s\\1172913.yaml',
 'data\\t20s\\1172914.yaml',
 'data\\t20s\\1172915.yaml',
 'data\\t20s\\1172916.yaml',
 'data\\t20s\\1172917.yaml',
 'data\\t20s\\1172918.yaml',
 'data\\t20s\\1172919.yaml',
 'data\\t20s\\1172920.yaml',
 'data\\t20s\\1172921.yaml',
 'data\\t20s\\1172922.yaml',
 'data\\t20s\\1172923.yaml',
 'data\\t20s\\1172924.yaml',
 'data\\t20s\\1172925.yaml',
 'data\\t20s\\1172926.yaml',
 'data\\t20s\\1172927.yaml',
 'data\\t20s\\1172929.yaml',
 'data\\t20s\\1172930.yaml',
 'data\\t20s\\1173048.yaml',
 'data\\t20s\\1173049.yaml',
 'data\\t20s\\1173050.yaml',
 'data\\t20s\\1173051.yaml',
 'data\\t20s\\1173052.yaml',
 'data\\t20s\\1173053.yaml',
 'data\\t20s\\1173054.yaml',
 'data\\t20s\\1173055.yaml',
 'data\\t20s\\1173056.yaml',
 'data\\t20s\\1173057.yaml',
 'data\\t20s\\1173058.yaml',
 'data\\t20s\\1173059.yaml',
 'data\\t20s\\1173060.yaml',
 'data\\t20s\\1173061.yaml',
 'data\\t20s\\1173062.yaml',
 'data\\t20s\\1173063.yaml',
 'data\\t20s\\1173064.yaml',
 'data\\t20s\\1173065.yaml',
 'data\\t20s\\1173066.yaml',
 'data\\t20s\\1173069.yaml',
 'data\\t20s\\1173070.yaml',
 'data\\t20s\\1176435.yaml',
 'data\\t20s\\1176436.yaml',
 'data\\t20s\\1176437.yaml',
 'data\\t20s\\1176792.yaml',
 'data\\t20s\\1176793.yaml',
 'data\\t20s\\1176794.yaml',
 'data\\t20s\\1176795.yaml',
 'data\\t20s\\1176796.yaml',
 'data\\t20s\\1176797.yaml',
 'data\\t20s\\1177018.yaml',
 'data\\t20s\\1177019.yaml',
 'data\\t20s\\1177020.yaml',
 'data\\t20s\\1177021.yaml',
 'data\\t20s\\1177022.yaml',
 'data\\t20s\\1177484.yaml',
 'data\\t20s\\1177485.yaml',
 'data\\t20s\\1178996.yaml',
 'data\\t20s\\1179016.yaml',
 'data\\t20s\\1179017.yaml',
 'data\\t20s\\1179018.yaml',
 'data\\t20s\\1179610.yaml',
 'data\\t20s\\1179611.yaml',
 'data\\t20s\\1182642.yaml',
 'data\\t20s\\1182643.yaml',
 'data\\t20s\\1182644.yaml',
 'data\\t20s\\1182646.yaml',
 'data\\t20s\\1182648.yaml',
 'data\\t20s\\1182649.yaml',
 'data\\t20s\\1182650.yaml',
 'data\\t20s\\1182652.yaml',
 'data\\t20s\\1182653.yaml',
 'data\\t20s\\1182654.yaml',
 'data\\t20s\\1182656.yaml',
 'data\\t20s\\1182657.yaml',
 'data\\t20s\\1182658.yaml',
 'data\\t20s\\1182904.yaml',
 'data\\t20s\\1182905.yaml',
 'data\\t20s\\1182906.yaml',
 'data\\t20s\\1182909.yaml',
 'data\\t20s\\1182912.yaml',
 'data\\t20s\\1182913.yaml',
 'data\\t20s\\1182914.yaml',
 'data\\t20s\\1182916.yaml',
 'data\\t20s\\1182917.yaml',
 'data\\t20s\\1182918.yaml',
 'data\\t20s\\1183510.yaml',
 'data\\t20s\\1183511.yaml',
 'data\\t20s\\1183512.yaml',
 'data\\t20s\\1183524.yaml',
 'data\\t20s\\1183525.yaml',
 'data\\t20s\\1183526.yaml',
 'data\\t20s\\1183527.yaml',
 'data\\t20s\\1183528.yaml',
 'data\\t20s\\1183529.yaml',
 'data\\t20s\\1183543.yaml',
 'data\\t20s\\1183544.yaml',
 'data\\t20s\\1183545.yaml',
 'data\\t20s\\1183546.yaml',
 'data\\t20s\\1183547.yaml',
 'data\\t20s\\1183548.yaml',
 'data\\t20s\\1183549.yaml',
 'data\\t20s\\1183856.yaml',
 'data\\t20s\\1183857.yaml',
 'data\\t20s\\1184258.yaml',
 'data\\t20s\\1184260.yaml',
 'data\\t20s\\1184261.yaml',
 'data\\t20s\\1184262.yaml',
 'data\\t20s\\1184263.yaml',
 'data\\t20s\\1184266.yaml',
 'data\\t20s\\1184900.yaml',
 'data\\t20s\\1184901.yaml',
 'data\\t20s\\1184902.yaml',
 'data\\t20s\\1185154.yaml',
 'data\\t20s\\1185155.yaml',
 'data\\t20s\\1185156.yaml',
 'data\\t20s\\1185181.yaml',
 'data\\t20s\\1185182.yaml',
 'data\\t20s\\1185184.yaml',
 'data\\t20s\\1185185.yaml',
 'data\\t20s\\1185186.yaml',
 'data\\t20s\\1185187.yaml',
 'data\\t20s\\1185188.yaml',
 'data\\t20s\\1185190.yaml',
 'data\\t20s\\1185191.yaml',
 'data\\t20s\\1185192.yaml',
 'data\\t20s\\1185193.yaml',
 'data\\t20s\\1185313.yaml',
 'data\\t20s\\1185314.yaml',
 'data\\t20s\\1185315.yaml',
 'data\\t20s\\1185316.yaml',
 'data\\t20s\\1185317.yaml',
 'data\\t20s\\1185318.yaml',
 'data\\t20s\\1186488.yaml',
 'data\\t20s\\1186490.yaml',
 'data\\t20s\\1186491.yaml',
 'data\\t20s\\1186492.yaml',
 'data\\t20s\\1186493.yaml',
 'data\\t20s\\1187005.yaml',
 'data\\t20s\\1187006.yaml',
 'data\\t20s\\1187013.yaml',
 'data\\t20s\\1187014.yaml',
 'data\\t20s\\1187015.yaml',
 'data\\t20s\\1187018.yaml',
 'data\\t20s\\1187019.yaml',
 'data\\t20s\\1187020.yaml',
 'data\\t20s\\1187665.yaml',
 'data\\t20s\\1187666.yaml',
 'data\\t20s\\1187667.yaml',
 'data\\t20s\\1187668.yaml',
 'data\\t20s\\1187669.yaml',
 'data\\t20s\\1187677.yaml',
 'data\\t20s\\1187678.yaml',
 'data\\t20s\\1187679.yaml',
 'data\\t20s\\1187680.yaml',
 'data\\t20s\\1187681.yaml',
 'data\\t20s\\1187717.yaml',
 'data\\t20s\\1187718.yaml',
 'data\\t20s\\1187719.yaml',
 'data\\t20s\\1187720.yaml',
 'data\\t20s\\1188379.yaml',
 'data\\t20s\\1188380.yaml',
 'data\\t20s\\1188621.yaml',
 'data\\t20s\\1188622.yaml',
 'data\\t20s\\1188623.yaml',
 'data\\t20s\\1188784.yaml',
 'data\\t20s\\1188785.yaml',
 'data\\t20s\\1188786.yaml',
 'data\\t20s\\1189743.yaml',
 'data\\t20s\\1189744.yaml',
 'data\\t20s\\1190605.yaml',
 'data\\t20s\\1190606.yaml',
 'data\\t20s\\1190607.yaml',
 'data\\t20s\\1190608.yaml',
 'data\\t20s\\1190744.yaml',
 'data\\t20s\\1190746.yaml',
 'data\\t20s\\1190747.yaml',
 'data\\t20s\\1190749.yaml',
 'data\\t20s\\1190750.yaml',
 'data\\t20s\\1190751.yaml',
 'data\\t20s\\1190752.yaml',
 'data\\t20s\\1190753.yaml',
 'data\\t20s\\1190754.yaml',
 'data\\t20s\\1190755.yaml',
 'data\\t20s\\1190767.yaml',
 'data\\t20s\\1190768.yaml',
 'data\\t20s\\1190769.yaml',
 'data\\t20s\\1190771.yaml',
 'data\\t20s\\1190772.yaml',
 'data\\t20s\\1190773.yaml',
 'data\\t20s\\1190774.yaml',
 'data\\t20s\\1190775.yaml',
 'data\\t20s\\1190776.yaml',
 'data\\t20s\\1191006.yaml',
 'data\\t20s\\1191008.yaml',
 'data\\t20s\\1192223.yaml',
 'data\\t20s\\1192224.yaml',
 'data\\t20s\\1192875.yaml',
 'data\\t20s\\1192876.yaml',
 'data\\t20s\\1192877.yaml',
 'data\\t20s\\1193494.yaml',
 'data\\t20s\\1193495.yaml',
 'data\\t20s\\1193496.yaml',
 'data\\t20s\\1196033.yaml',
 'data\\t20s\\1197047.yaml',
 'data\\t20s\\1197049.yaml',
 'data\\t20s\\1197051.yaml',
 'data\\t20s\\1197052.yaml',
 'data\\t20s\\1197053.yaml',
 'data\\t20s\\1197054.yaml',
 'data\\t20s\\1197055.yaml',
 'data\\t20s\\1197056.yaml',
 'data\\t20s\\1197057.yaml',
 'data\\t20s\\1197058.yaml',
 'data\\t20s\\1197059.yaml',
 'data\\t20s\\1197061.yaml',
 'data\\t20s\\1197062.yaml',
 'data\\t20s\\1197063.yaml',
 'data\\t20s\\1197064.yaml',
 'data\\t20s\\1197065.yaml',
 'data\\t20s\\1197066.yaml',
 'data\\t20s\\1197140.yaml',
 'data\\t20s\\1197141.yaml',
 'data\\t20s\\1197142.yaml',
 'data\\t20s\\1197143.yaml',
 'data\\t20s\\1197144.yaml',
 'data\\t20s\\1197145.yaml',
 'data\\t20s\\1197246.yaml',
 'data\\t20s\\1197247.yaml',
 'data\\t20s\\1197248.yaml',
 'data\\t20s\\1197249.yaml',
 'data\\t20s\\1197253.yaml',
 'data\\t20s\\1197396.yaml',
 'data\\t20s\\1197397.yaml',
 'data\\t20s\\1197398.yaml',
 'data\\t20s\\1197399.yaml',
 'data\\t20s\\1197400.yaml',
 'data\\t20s\\1197401.yaml',
 'data\\t20s\\1197402.yaml',
 'data\\t20s\\1197403.yaml',
 'data\\t20s\\1197404.yaml',
 'data\\t20s\\1197406.yaml',
 'data\\t20s\\1197407.yaml',
 'data\\t20s\\1197507.yaml',
 'data\\t20s\\1197508.yaml',
 'data\\t20s\\1197509.yaml',
 'data\\t20s\\1197510.yaml',
 'data\\t20s\\1197521.yaml',
 'data\\t20s\\1197522.yaml',
 'data\\t20s\\1197523.yaml',
 'data\\t20s\\1197524.yaml',
 'data\\t20s\\1197525.yaml',
 'data\\t20s\\1197526.yaml',
 'data\\t20s\\1197527.yaml',
 'data\\t20s\\1197528.yaml',
 'data\\t20s\\1197529.yaml',
 'data\\t20s\\1198217.yaml',
 'data\\t20s\\1198218.yaml',
 'data\\t20s\\1198219.yaml',
 'data\\t20s\\1198235.yaml',
 'data\\t20s\\1198236.yaml',
 'data\\t20s\\1198237.yaml',
 'data\\t20s\\1198244.yaml',
 'data\\t20s\\1198245.yaml',
 'data\\t20s\\1198246.yaml',
 'data\\t20s\\1198475.yaml',
 'data\\t20s\\1198476.yaml',
 'data\\t20s\\1198477.yaml',
 'data\\t20s\\1198478.yaml',
 'data\\t20s\\1198481.yaml',
 'data\\t20s\\1198482.yaml',
 'data\\t20s\\1198489.yaml',
 'data\\t20s\\1198490.yaml',
 'data\\t20s\\1198491.yaml',
 'data\\t20s\\1199499.yaml',
 'data\\t20s\\1199500.yaml',
 'data\\t20s\\1199501.yaml',
 'data\\t20s\\1199502.yaml',
 'data\\t20s\\1199503.yaml',
 'data\\t20s\\1199504.yaml',
 'data\\t20s\\1199505.yaml',
 'data\\t20s\\1199506.yaml',
 'data\\t20s\\1199507.yaml',
 'data\\t20s\\1199508.yaml',
 'data\\t20s\\1199509.yaml',
 'data\\t20s\\1199510.yaml',
 'data\\t20s\\1199511.yaml',
 'data\\t20s\\1199512.yaml',
 'data\\t20s\\1199513.yaml',
 'data\\t20s\\1199514.yaml',
 'data\\t20s\\1199515.yaml',
 'data\\t20s\\1199516.yaml',
 'data\\t20s\\1199517.yaml',
 'data\\t20s\\1199518.yaml',
 'data\\t20s\\1199519.yaml',
 'data\\t20s\\1199520.yaml',
 'data\\t20s\\1199521.yaml',
 'data\\t20s\\1199522.yaml',
 'data\\t20s\\1199523.yaml',
 'data\\t20s\\1199524.yaml',
 'data\\t20s\\1199525.yaml',
 'data\\t20s\\1199526.yaml',
 'data\\t20s\\1199527.yaml',
 'data\\t20s\\1199528.yaml',
 'data\\t20s\\1199529.yaml',
 'data\\t20s\\1199530.yaml',
 'data\\t20s\\1199531.yaml',
 'data\\t20s\\1199532.yaml',
 'data\\t20s\\1199533.yaml',
 'data\\t20s\\1199534.yaml',
 'data\\t20s\\1199535.yaml',
 'data\\t20s\\1199536.yaml',
 'data\\t20s\\1199537.yaml',
 'data\\t20s\\1199538.yaml',
 'data\\t20s\\1199539.yaml',
 'data\\t20s\\1199540.yaml',
 'data\\t20s\\1199541.yaml',
 'data\\t20s\\1199542.yaml',
 'data\\t20s\\1199543.yaml',
 'data\\t20s\\1199544.yaml',
 'data\\t20s\\1199545.yaml',
 'data\\t20s\\1199546.yaml',
 'data\\t20s\\1199547.yaml',
 'data\\t20s\\1199548.yaml',
 'data\\t20s\\1199549.yaml',
 'data\\t20s\\1200425.yaml',
 'data\\t20s\\1200426.yaml',
 'data\\t20s\\1200427.yaml',
 'data\\t20s\\1200428.yaml',
 'data\\t20s\\1201668.yaml',
 'data\\t20s\\1201669.yaml',
 'data\\t20s\\1201670.yaml',
 'data\\t20s\\1201671.yaml',
 'data\\t20s\\1201673.yaml',
 'data\\t20s\\1201680.yaml',
 'data\\t20s\\1201681.yaml',
 'data\\t20s\\1201682.yaml',
 'data\\t20s\\1201683.yaml',
 'data\\t20s\\1201685.yaml',
 'data\\t20s\\1202007.yaml',
 'data\\t20s\\1202008.yaml',
 'data\\t20s\\1202009.yaml',
 'data\\t20s\\1202010.yaml',
 'data\\t20s\\1202011.yaml',
 'data\\t20s\\1202243.yaml',
 'data\\t20s\\1202244.yaml',
 'data\\t20s\\1202252.yaml',
 'data\\t20s\\1202253.yaml',
 'data\\t20s\\1202254.yaml',
 'data\\t20s\\1202255.yaml',
 'data\\t20s\\1202256.yaml',
 'data\\t20s\\1202366.yaml',
 'data\\t20s\\1203676.yaml',
 'data\\t20s\\1203677.yaml',
 'data\\t20s\\1203678.yaml',
 'data\\t20s\\1204726.yaml',
 'data\\t20s\\1207081.yaml',
 'data\\t20s\\1207082.yaml',
 'data\\t20s\\1208347.yaml',
 'data\\t20s\\1208348.yaml',
 'data\\t20s\\1208349.yaml',
 'data\\t20s\\1208606.yaml',
 'data\\t20s\\1208609.yaml',
 'data\\t20s\\1208612.yaml',
 'data\\t20s\\1208613.yaml',
 'data\\t20s\\1208804.yaml',
 'data\\t20s\\1208806.yaml',
 'data\\t20s\\1208808.yaml',

In [6]:
final_df = pd.DataFrame()
dataframes = []
counter = 1
for file in tqdm(filenames):
    with open(file,'r') as f:
        d=safe_load(f)
        df = pd.json_normalize(d)
        df['match_id'] = counter
        dataframes.append(df)
        counter+=1

final_df = pd.concat(dataframes,ignore_index=True)
final_df

100%|██████████████████████████████████████████████████████████████████████████████| 1432/1432 [08:17<00:00,  2.88it/s]

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],male,T20,5.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],male,T20,2.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],male,T20,NaN,Australia,20,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],male,T20,NaN,Hong Kong,20,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],male,T20,NaN,Zimbabwe,20,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,[2016-03-04],male,T20,6.0,Pakistan,20,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,[2016-03-06],male,T20,8.0,India,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,[2016-02-03],male,T20,NaN,Netherlands,20,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,[2016-09-06],male,T20,NaN,Australia,20,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,[2016-09-09],male,T20,4.0,Australia,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
final_df.iloc[0,:]

innings                        [{'1st innings': {'team': 'Australia', 'delive...
meta.data_version                                                            0.9
meta.created                                                          2017-02-18
meta.revision                                                                  2
info.dates                                                          [2017-02-17]
info.gender                                                                 male
info.match_type                                                              T20
info.outcome.by.wickets                                                      5.0
info.outcome.winner                                                    Sri Lanka
info.overs                                                                    20
info.player_of_match                                             [DAS Gunaratne]
info.teams                                                [Australia, Sri Lanka]
info.toss.decision                                                         field
info.toss.winner                                                       Sri Lanka
info.umpires                                              [MD Martell, P Wilson]
info.venue                                              Melbourne Cricket Ground
match_id                                                                       1
info.city                                                                    NaN
info.outcome.by.runs                                                         NaN
info.match_type_number                                                       NaN
info.neutral_venue                                                           NaN
info.outcome.method                                                          NaN
info.outcome.result                                                          NaN
info.outcome.eliminator                                                      NaN
info.supersubs.New Zealand                                                   NaN
info.supersubs.South Africa                                                  NaN
info.bowl_out                                                                NaN
info.outcome.bowl_out                                                        NaN
Name: 0, dtype: object

In [8]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432 entries, 0 to 1431
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   innings                      1432 non-null   object
 1   meta.data_version            1432 non-null   float64
 2   meta.created                 1432 non-null   object
 3   meta.revision                1432 non-null   int64
 4   info.dates                   1432 non-null   object
 5   info.gender                  1432 non-null   object
 6   info.match_type              1432 non-null   object
 7   info.outcome.by.wickets      662 non-null    float64
 8   info.outcome.winner          1386 non-null   object
 9   info.overs                   1432 non-null   int64
 10  info.player_of_match         1269 non-null   object
 11  info.teams                   1432 non-null   object
 12  info.toss.decision           1432 non-null   object
 13  info.toss.winner             1432 non-null   object
 14  info.umpires                 1410 non-null   object
 15  info.venue                   1432 non-null   object
 16  match_id                     1432 non-null   int64
 17  info.city                    1240 non-null   object
 18  info.outcome.by.runs         724 non-null    float64
 19  info.match_type_number       699 non-null    float64
 20  info.neutral_venue           328 non-null    float64
 21  info.outcome.method          51 non-null     object
 22  info.outcome.result          46 non-null     object
 23  info.outcome.eliminator      16 non-null     object
 24  info.supersubs.New Zealand   1 non-null      object
 25  info.supersubs.South Africa  1 non-null      object
 26  info.bowl_out                2 non-null      object
 27  info.outcome.bowl_out        2 non-null      object
dtypes: float64(5), int64(3), object(20)
memory usage: 313.4+ KB

In [9]:
final_df.iloc[0,0]

[{'1st innings': {'team': 'Australia',
   'deliveries': [{0.1: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.2: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.3: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {0.4: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {0.5: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.6: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {1.1: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.2: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {1.3: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.5: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {1.6: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {2.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {2.6: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.1: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.2: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.3: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.5: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {3.6: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.6: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.1: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'wides': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {5.3: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.5: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.7: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.4: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.6: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {7.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {7.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'byes': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {7.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {7.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {8.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.4: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.6: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.2: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.4: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {9.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {10.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.2: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'extras': {'legbyes': 1},
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {10.3: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'M Klinger'}}},
    {10.4: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {10.5: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {11.1: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {11.2: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {11.3: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'AJ Finch'}}},
    {11.4: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.5: {'batsman': 'MC Henriques',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.6: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.1: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.2: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.3: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.4: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.5: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.6: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.1: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {13.2: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'extras': {'wides': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {13.3: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {13.5: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.6: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.7: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.1: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.2: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.3: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.4: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {14.5: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.1: {'batsman': 'MC Henriques',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['CK Kapugedera'],
       'kind': 'caught',
       'player_out': 'MC Henriques'}}},
    {15.2: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.3: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.4: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.5: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.6: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'extras': {'wides': 1},
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {15.7: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {16.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {16.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {16.3: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.6: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.1: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.2: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {17.3: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'noballs': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {17.4: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.5: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.6: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.7: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.3: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'TM Head'}}},
    {18.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'JP Faulkner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'AJ Turner'}}},
    {18.6: {'batsman': 'JP Faulkner',
      'bowler': 'SL Malinga',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {19.1: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {19.2: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {19.3: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {19.4: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'wides': 1},

In [10]:
backup = final_df.copy()

In [11]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [12]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432 entries, 0 to 1431
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   innings                     1432 non-null   object
 1   info.dates                  1432 non-null   object
 2   info.gender                 1432 non-null   object
 3   info.match_type             1432 non-null   object
 4   info.outcome.winner         1386 non-null   object
 5   info.overs                  1432 non-null   int64
 6   info.player_of_match        1269 non-null   object
 7   info.teams                  1432 non-null   object
 8   info.toss.decision          1432 non-null   object
 9   info.toss.winner            1432 non-null   object
 10  info.umpires                1410 non-null   object
 11  info.venue                  1432 non-null   object
 12  match_id                    1432 non-null   int64
 13  info.city                   1240 non-null   object
 14  info.supersubs.New Zealand  1 non-null      object
dtypes: int64(2), object(13)
memory usage: 167.9+ KB

In [13]:
final_df.drop(columns=['info.supersubs.New Zealand'],inplace=True)

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432 entries, 0 to 1431
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   innings               1432 non-null   object
 1   info.dates            1432 non-null   object
 2   info.gender           1432 non-null   object
 3   info.match_type       1432 non-null   object
 4   info.outcome.winner   1386 non-null   object
 5   info.overs            1432 non-null   int64
 6   info.player_of_match  1269 non-null   object
 7   info.teams            1432 non-null   object
 8   info.toss.decision    1432 non-null   object
 9   info.toss.winner      1432 non-null   object
 10  info.umpires          1410 non-null   object
 11  info.venue            1432 non-null   object
 12  match_id              1432 non-null   int64
 13  info.city             1240 non-null   object
dtypes: int64(2), object(12)
memory usage: 156.8+ KB

In [15]:
final_df['info.gender'].value_counts()

info.gender
male      966
female    466
Name: count, dtype: int64

In [16]:
final_df = final_df[final_df['info.gender']=='male']

In [17]:
final_df.drop(columns=['info.gender'],inplace=True)

C:\Users\Gayatri_dasari\AppData\Local\Temp\ipykernel_8100\3681787744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.gender'],inplace=True)

In [18]:
final_df

,innings,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [19]:
final_df['info.match_type'].value_counts()

info.match_type
T20    966
Name: count, dtype: int64

In [20]:
final_df['info.overs'].value_counts()

info.overs
20    963
50      3
Name: count, dtype: int64

In [21]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 963 entries, 0 to 1431
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   innings               963 non-null    object
 1   info.dates            963 non-null    object
 2   info.outcome.winner   927 non-null    object
 3   info.player_of_match  865 non-null    object
 4   info.teams            963 non-null    object
 5   info.toss.decision    963 non-null    object
 6   info.toss.winner      963 non-null    object
 7   info.umpires          953 non-null    object
 8   info.venue            963 non-null    object
 9   match_id              963 non-null    int64
 10  info.city             825 non-null    object
dtypes: int64(1), object(10)
memory usage: 90.3+ KB

C:\Users\Gayatri_dasari\AppData\Local\Temp\ipykernel_8100\574093594.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

In [22]:
final_df

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [23]:
import pickle
pickle.dump(final_df,open('dataset_level_1.pkl','wb'))

In [24]:
matches = pickle.load(open('dataset_level_1.pkl','rb'))
matches.iloc[0]

innings                 [{'1st innings': {'team': 'Australia', 'delive...
info.dates                                                   [2017-02-17]
info.outcome.winner                                             Sri Lanka
info.player_of_match                                      [DAS Gunaratne]
info.teams                                         [Australia, Sri Lanka]
info.toss.decision                                                  field
info.toss.winner                                                Sri Lanka
info.umpires                                       [MD Martell, P Wilson]
info.venue                                       Melbourne Cricket Ground
match_id                                                                1
info.city                                                             NaN
Name: 0, dtype: object

In [25]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.3: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.4: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.5: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.6: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {1.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {2.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.5: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.6: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.1: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'wides': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {5.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.7: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.4: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'byes': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {7.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {8.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.6: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.2: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {9.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'extras': {'legbyes': 1},
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {10.3: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'M Klinger'}}},
 {10.4: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {10.5: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {11.2: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {11.3: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'AJ Finch'}}},
 {11.4: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.6: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.5: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.7: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.2: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.3: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {14.5: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.1: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['CK Kapugedera'],
    'kind': 'caught',
    'player_out': 'MC Henriques'}}},
 {15.2: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.4: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'extras': {'wides': 1},
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {15.7: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {16.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.3: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.3: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'noballs': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {17.4: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.7: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {18.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'AJ Turner'}}},
 {18.6: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.2: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.4: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.5: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1},
   'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
    'kind': 'run out',
    'player_out': 'TD Paine'}}},
 {19.6: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]

In [26]:
matches

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [27]:
count = 1
delivery_df = pd.DataFrame()
dataframes=[]
for index, row in matches.iterrows():
    count += 1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
        'match_id':match_id,
        'teams':teams,
        'batting_team':batting_team,
        'ball':ball_of_match,
        'batsman':batsman,
        'bowler':bowler,
        'runs':runs,
        'player_dismissed':player_of_dismissed,
        'city':city,
        'venue':venue
    })
    dataframes.append(loop_df)
delivery_df = pd.concat(dataframes,ignore_index=True)

In [28]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
116542,964,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
116543,964,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
116544,964,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
116545,964,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
116546,964,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [29]:
def bowl(row):
   for team in row['teams']:
        if team != row['batting_team']:
            return team

In [30]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [31]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...
116542,964,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
116543,964,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
116544,964,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
116545,964,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
116546,964,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [32]:
delivery_df.drop(columns=['teams'],inplace=True)

In [33]:
delivery_df['batting_team'].unique()

array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'Bangladesh',
       'New Zealand', 'South Africa', 'England', 'West Indies', 'Ireland',
       'Afghanistan', 'Pakistan', 'United Arab Emirates', 'Scotland',
       'Oman', 'Papua New Guinea', 'Sri Lanka', 'Netherlands', 'Nepal',
       'Vanuatu', 'Philippines', 'United States of America', 'Germany',
       'Ghana', 'Uganda', 'Kenya', 'Namibia', 'Nigeria', 'Botswana',
       'Guernsey', 'Denmark', 'Jersey', 'Italy', 'Norway', 'Thailand',
       'Malaysia', 'Maldives', 'Singapore', 'Kuwait', 'Bermuda', 'Canada',
       'Cayman Islands', 'Portugal', 'Gibraltar', 'Spain', 'Bhutan',
       'Qatar', 'Iran', 'Belgium', 'Isle of Man', 'Bulgaria', 'Romania'],
      dtype=object)

In [34]:
teams1 = delivery_df['batting_team'].unique().tolist()

In [35]:
teams1

['Australia',
 'Hong Kong',
 'Zimbabwe',
 'India',
 'Bangladesh',
 'New Zealand',
 'South Africa',
 'England',
 'West Indies',
 'Ireland',
 'Afghanistan',
 'Pakistan',
 'United Arab Emirates',
 'Scotland',
 'Oman',
 'Papua New Guinea',
 'Sri Lanka',
 'Netherlands',
 'Nepal',
 'Vanuatu',
 'Philippines',
 'United States of America',
 'Germany',
 'Ghana',
 'Uganda',
 'Kenya',
 'Namibia',
 'Nigeria',
 'Botswana',
 'Guernsey',
 'Denmark',
 'Jersey',
 'Italy',
 'Norway',
 'Thailand',
 'Malaysia',
 'Maldives',
 'Singapore',
 'Kuwait',
 'Bermuda',
 'Canada',
 'Cayman Islands',
 'Portugal',
 'Gibraltar',
 'Spain',
 'Bhutan',
 'Qatar',
 'Iran',
 'Belgium',
 'Isle of Man',
 'Bulgaria',
 'Romania']

In [36]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'
]

In [37]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [38]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...
116542,964,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
116543,964,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
116544,964,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
116545,964,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
116546,964,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [39]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64741 entries, 0 to 116546
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          64741 non-null  int64
 1   batting_team      64741 non-null  object
 2   ball              64741 non-null  float64
 3   batsman           64741 non-null  object
 4   bowler            64741 non-null  object
 5   runs              64741 non-null  int64
 6   player_dismissed  64741 non-null  object
 7   city              56070 non-null  object
 8   venue             64741 non-null  object
 9   bowling_team      64741 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 5.4+ MB

In [40]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [41]:
pickle.dump(output,open('dataset_level_2.pkl','wb'))

In [42]:
output['city'].isnull().sum()

8671

In [43]:
output[output['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [44]:
x = np.where(output['city'].isnull(),output['venue'].str.split().apply(lambda x:x[0]),output['city'])

In [45]:
output['city'] = x

C:\Users\Gayatri_dasari\AppData\Local\Temp\ipykernel_8100\2208188131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['city'] = x

In [46]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [47]:
output.drop(columns=['venue'],inplace=True)

C:\Users\Gayatri_dasari\AppData\Local\Temp\ipykernel_8100\2962604362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output.drop(columns=['venue'],inplace=True)

In [48]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
116542,964,Sri Lanka,Australia,19.3,1,0,Colombo
116543,964,Sri Lanka,Australia,19.4,0,0,Colombo
116544,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
116545,964,Sri Lanka,Australia,19.6,2,0,Colombo
116546,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [49]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [50]:
output

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,runs_y
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,168
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,168
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,168
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,168
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,168
...,...,...,...,...,...,...,...,...
64736,964,Sri Lanka,Australia,19.3,1,0,Colombo,128
64737,964,Sri Lanka,Australia,19.4,0,0,Colombo,128
64738,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,128
64739,964,Sri Lanka,Australia,19.6,2,0,Colombo,128
64740,964,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [51]:
output[(((output['batting_team']=='Sri Lanka') & (output['bowling_team'] == 'Australia')) & (output['city']=='Melbourne'))]

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,runs_y
14478,195,Sri Lanka,Australia,0.1,2,0,Melbourne,142
14479,195,Sri Lanka,Australia,0.2,0,0,Melbourne,142
14480,195,Sri Lanka,Australia,0.3,0,0,Melbourne,142
14481,195,Sri Lanka,Australia,0.4,0,0,Melbourne,142
14482,195,Sri Lanka,Australia,0.5,1,0,Melbourne,142
...,...,...,...,...,...,...,...,...
48261,716,Sri Lanka,Australia,19.2,4,0,Melbourne,161
48262,716,Sri Lanka,Australia,19.3,4,0,Melbourne,161
48263,716,Sri Lanka,Australia,19.4,1,0,Melbourne,161
48264,716,Sri Lanka,Australia,19.5,6,0,Melbourne,161
48265,716,Sri Lanka,Australia,19.6,1,0,Melbourne,161

### for now only considering 1st innings of matches to avoid complexity

In [52]:
output['current_score'] = output.groupby('match_id')['runs_x'].cumsum()

In [53]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [54]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype(int)

In [55]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [56]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
output['player_dismissed'] = output['player_dismissed'].astype('int')
output['player_dismissed'] = output.groupby('match_id')['player_dismissed'].cumsum()
output['wickets_left'] = 10 - output['player_dismissed']

In [57]:
final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [58]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y
0,2,Australia,Sri Lanka,0,0,1,10,0.00,Melbourne,168
1,2,Australia,Sri Lanka,0,0,2,10,0.00,Melbourne,168
2,2,Australia,Sri Lanka,1,1,3,10,2.00,Melbourne,168
3,2,Australia,Sri Lanka,2,3,4,10,4.50,Melbourne,168
4,2,Australia,Sri Lanka,0,3,5,10,3.60,Melbourne,168
...,...,...,...,...,...,...,...,...,...,...
64736,964,Sri Lanka,Australia,1,125,117,2,6.41,Colombo,128
64737,964,Sri Lanka,Australia,0,125,118,2,6.36,Colombo,128
64738,964,Sri Lanka,Australia,0,125,119,1,6.30,Colombo,128
64739,964,Sri Lanka,Australia,2,127,120,1,6.35,Colombo,128
64740,964,Sri Lanka,Australia,1,128,121,1,6.35,Colombo,128

In [59]:
final_df = final_df.sample(final_df.shape[0])
final_df.shape[0]

64741

In [60]:
final_df.shape

(64741, 10)

In [61]:
final_df['balls_left'] = 120 - final_df['balls_bowled']
final_df['balls_left'] = final_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [62]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y,balls_left
53158,795,Australia,West Indies,0,101,71,5,8.54,Mirpur,178,49
50003,742,England,West Indies,1,76,43,10,10.60,Barbados,165,77
45555,691,West Indies,New Zealand,4,156,102,8,9.18,Lauderhill,209,18
3429,51,South Africa,Bangladesh,1,70,52,8,8.08,Potchefstroom,224,68
37844,601,Australia,Sri Lanka,1,84,89,5,5.66,Perth,133,31
...,...,...,...,...,...,...,...,...,...,...,...
61933,917,England,Afghanistan,4,92,92,3,6.00,Delhi,142,28
60817,908,Pakistan,Bangladesh,4,110,73,9,9.04,Kolkata,201,47
41198,639,Sri Lanka,Pakistan,0,4,7,10,3.43,Abu Dhabi,141,113
18817,272,Afghanistan,West Indies,0,96,84,5,6.86,Lucknow,147,36
13394,161,West Indies,India,1,105,118,2,5.34,Kolkata,109,2

In [63]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64741 entries, 53158 to 13394
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       64741 non-null  int64
 1   batting_team   64741 non-null  object
 2   bowling_team   64741 non-null  object
 3   runs_x         64741 non-null  int64
 4   current_score  64741 non-null  int64
 5   balls_bowled   64741 non-null  int32
 6   wickets_left   64741 non-null  int32
 7   crr            64741 non-null  float64
 8   city           64741 non-null  object
 9   runs_y         64741 non-null  int64
 10  balls_left     64741 non-null  int64
dtypes: float64(1), int32(2), int64(5), object(3)
memory usage: 5.4+ MB

In [64]:
groups = final_df.groupby('match_id')
groups

In [65]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y,balls_left
53158,795,Australia,West Indies,0,101,71,5,8.54,Mirpur,178,49
50003,742,England,West Indies,1,76,43,10,10.60,Barbados,165,77
45555,691,West Indies,New Zealand,4,156,102,8,9.18,Lauderhill,209,18
3429,51,South Africa,Bangladesh,1,70,52,8,8.08,Potchefstroom,224,68
37844,601,Australia,Sri Lanka,1,84,89,5,5.66,Perth,133,31
...,...,...,...,...,...,...,...,...,...,...,...
61933,917,England,Afghanistan,4,92,92,3,6.00,Delhi,142,28
60817,908,Pakistan,Bangladesh,4,110,73,9,9.04,Kolkata,201,47
41198,639,Sri Lanka,Pakistan,0,4,7,10,3.43,Abu Dhabi,141,113
18817,272,Afghanistan,West Indies,0,96,84,5,6.86,Lucknow,147,36
13394,161,West Indies,India,1,105,118,2,5.34,Kolkata,109,2

In [66]:
final_df.rename(columns={'runs_x':'runs','runs_y':'total_runs'},inplace=True)

In [67]:
final_df

,match_id,batting_team,bowling_team,runs,current_score,balls_bowled,wickets_left,crr,city,total_runs,balls_left
53158,795,Australia,West Indies,0,101,71,5,8.54,Mirpur,178,49
50003,742,England,West Indies,1,76,43,10,10.60,Barbados,165,77
45555,691,West Indies,New Zealand,4,156,102,8,9.18,Lauderhill,209,18
3429,51,South Africa,Bangladesh,1,70,52,8,8.08,Potchefstroom,224,68
37844,601,Australia,Sri Lanka,1,84,89,5,5.66,Perth,133,31
...,...,...,...,...,...,...,...,...,...,...,...
61933,917,England,Afghanistan,4,92,92,3,6.00,Delhi,142,28
60817,908,Pakistan,Bangladesh,4,110,73,9,9.04,Kolkata,201,47
41198,639,Sri Lanka,Pakistan,0,4,7,10,3.43,Abu Dhabi,141,113
18817,272,Afghanistan,West Indies,0,96,84,5,6.86,Lucknow,147,36
13394,161,West Indies,India,1,105,118,2,5.34,Kolkata,109,2

In [68]:
match_ids = final_df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())

In [69]:
final_df['last_five'] = last_five

In [70]:
final_df

,match_id,batting_team,bowling_team,runs,current_score,balls_bowled,wickets_left,crr,city,total_runs,balls_left,last_five
53158,795,Australia,West Indies,0,101,71,5,8.54,Mirpur,178,49,NaN
50003,742,England,West Indies,1,76,43,10,10.60,Barbados,165,77,NaN
45555,691,West Indies,New Zealand,4,156,102,8,9.18,Lauderhill,209,18,NaN
3429,51,South Africa,Bangladesh,1,70,52,8,8.08,Potchefstroom,224,68,NaN
37844,601,Australia,Sri Lanka,1,84,89,5,5.66,Perth,133,31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
61933,917,England,Afghanistan,4,92,92,3,6.00,Delhi,142,28,NaN
60817,908,Pakistan,Bangladesh,4,110,73,9,9.04,Kolkata,201,47,NaN
41198,639,Sri Lanka,Pakistan,0,4,7,10,3.43,Abu Dhabi,141,113,NaN
18817,272,Afghanistan,West Indies,0,96,84,5,6.86,Lucknow,147,36,NaN
13394,161,West Indies,India,1,105,118,2,5.34,Kolkata,109,2,NaN

In [71]:
final_df.dropna(inplace=True)

In [72]:
final_df

,match_id,batting_team,bowling_team,runs,current_score,balls_bowled,wickets_left,crr,city,total_runs,balls_left,last_five
40243,625,Australia,India,0,41,26,9,9.46,Sydney,171,94,35.0
61415,913,South Africa,Afghanistan,0,97,70,7,8.31,Mumbai,209,50,36.0
62753,924,Afghanistan,West Indies,1,43,51,8,5.06,Nagpur,123,69,32.0
47436,710,New Zealand,England,1,33,23,10,8.61,Hamilton,192,97,31.0
55441,817,West Indies,New Zealand,1,128,101,5,7.60,Dominica,132,19,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8918,107,Pakistan,West Indies,1,12,14,9,5.14,Karachi,205,106,26.0
7723,95,Bangladesh,Sri Lanka,1,121,75,7,9.68,Dhaka,193,45,28.0
14058,171,India,Australia,2,90,71,7,7.61,Visakhapatnam,126,49,28.0
63447,942,India,Sri Lanka,1,12,11,10,6.55,Ranchi,196,109,27.0
12299,153,New Zealand,India,0,20,15,10,8.00,Hamilton,212,105,29.0

In [73]:
(final_df['city'].value_counts() > 600).index.tolist()

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'Pallekele',
 'London',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Nottingham',
 'Mumbai',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Delhi',
 'Lahore',
 'Nagpur',
 'Cardiff',
 'Chandigarh',
 'Bangalore',
 'Adelaide',
 'St Kitts',
 'Trinidad',
 'Christchurch',
 'Brisbane',
 'Hambantota',
 'Birmingham',
 'Lucknow',
 'Dhaka',
 'Karachi',
 'Napier',
 'Harare',
 'Pune',
 'Bristol',
 'Perth',
 'Chester-le-Street',
 'Rajkot',
 'Hobart',
 'Kandy',
 'Port Elizabeth',
 'Chennai',
 'Guyana',
 'Cuttack',
 'Nelson',
 'Canberra',
 'Dehradun',
 'Bengaluru',
 'Sylhet',
 'King City',
 'Visakhapatnam',
 'East London',
 'Chattogram',
 'St Vincent',
 'Indore',
 'Sharjah',
 'Ranchi',
 'Antigua',
 'Dominica',
 'Basseterre',
 'Thiruvananthapuram',
 'Gros Islet',
 'Dharmasala',
 'Jamaica',
 'Ahmedabad',
 'Kanpur',
 'Taunton',
 'Guwahati',
 'Victoria',
 'Nairobi',
 'Dharamsala',
 'Potchefstroom',
 'Paarl',
 'Providence',
 'Bloemfontein',
 'Hyderabad',
 'Carrara']

In [74]:
f = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()
len(f)

25

In [75]:
eligible_cities = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()
final_df = final_df[final_df['city'].isin(eligible_cities)]

In [76]:
final_df

,match_id,batting_team,bowling_team,runs,current_score,balls_bowled,wickets_left,crr,city,total_runs,balls_left,last_five
40243,625,Australia,India,0,41,26,9,9.46,Sydney,171,94,35.0
61415,913,South Africa,Afghanistan,0,97,70,7,8.31,Mumbai,209,50,36.0
47436,710,New Zealand,England,1,33,23,10,8.61,Hamilton,192,97,31.0
25438,474,Sri Lanka,Bangladesh,1,21,21,9,6.00,Johannesburg,147,99,31.0
41512,641,England,Pakistan,1,93,73,6,7.64,Dubai,150,47,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
23705,455,West Indies,England,4,61,32,9,11.44,London,208,88,31.0
55230,816,Pakistan,Australia,0,22,24,8,5.50,Dubai,96,96,26.0
58589,868,England,Pakistan,0,18,15,10,7.20,Dubai,172,105,29.0
44211,668,Sri Lanka,Pakistan,0,5,6,10,5.00,Colombo,139,114,30.0
12299,153,New Zealand,India,0,20,15,10,8.00,Hamilton,212,105,29.0

In [77]:
final_df.dropna(inplace=True)

C:\Users\Gayatri_dasari\AppData\Local\Temp\ipykernel_8100\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [78]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33792 entries, 40243 to 12299
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       33792 non-null  int64
 1   batting_team   33792 non-null  object
 2   bowling_team   33792 non-null  object
 3   runs           33792 non-null  int64
 4   current_score  33792 non-null  int64
 5   balls_bowled   33792 non-null  int32
 6   wickets_left   33792 non-null  int32
 7   crr            33792 non-null  float64
 8   city           33792 non-null  object
 9   total_runs     33792 non-null  int64
 10  balls_left     33792 non-null  int64
 11  last_five      33792 non-null  float64
dtypes: float64(2), int32(2), int64(5), object(3)
memory usage: 3.1+ MB

In [88]:
X = final_df.drop(columns=['match_id','total_runs','runs'])
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33792 entries, 40243 to 12299
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   batting_team   33792 non-null  object
 1   bowling_team   33792 non-null  object
 2   current_score  33792 non-null  int64
 3   balls_bowled   33792 non-null  int32
 4   wickets_left   33792 non-null  int32
 5   crr            33792 non-null  float64
 6   city           33792 non-null  object
 7   balls_left     33792 non-null  int64
 8   last_five      33792 non-null  float64
dtypes: float64(2), int32(2), int64(2), object(3)
memory usage: 2.3+ MB

In [89]:
y = final_df['total_runs']

In [90]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=123)

In [91]:
X_test

,batting_team,bowling_team,current_score,balls_bowled,wickets_left,crr,city,balls_left,last_five
36973,Pakistan,New Zealand,121,92,5,7.89,Dubai,28,39.0
35173,Pakistan,South Africa,6,10,9,3.60,St Lucia,110,38.0
44973,Pakistan,Bangladesh,30,22,9,8.18,Mirpur,98,44.0
5949,England,India,109,84,5,7.79,Manchester,36,34.0
53461,South Africa,England,191,117,6,9.79,Chittagong,3,37.0
...,...,...,...,...,...,...,...,...,...
50770,South Africa,Pakistan,32,25,10,7.68,Dubai,95,38.0
23797,West Indies,England,207,119,2,10.44,London,1,18.0
699,New Zealand,Bangladesh,69,68,7,6.09,Mount Maunganui,52,56.0
1762,West Indies,India,24,12,10,12.00,Lauderhill,108,49.0
28963,Australia,West Indies,128,100,5,7.68,London,20,63.0

In [92]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [93]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [94]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9497649669647217
3.246433931653502

In [95]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [87]:
import xgboost
xgboost.__version__

'2.0.3'